:root{
    --col1:orange;
    --col2:red;
    --col3:white;
    --col4:gold;
    --col5:gray;
    --col6:rgba(255,215,0,0,5);
}
.header{
    background-color:var(--col4);
    display: flex;
    justify-content:space-between;
    padding: 10px 10px;
    border-bottom: var(--col1);
    box-shadow: 2px 3px 2px var(--col5);
    position: sticky;
    top:0;
    align-items: center;
    z-index: 2;
}
.logo{
    font-family:'Curlz MT';
    font-size: 24pt;
    font-weight: bold;
    color:var(--col2);
    text-shadow: 2px 3px 2px var(--col5);

}
.menu span{
    margin-right: 15px;
}
.body{
    height: 1500px;
}
.menu span:hover{
    color:var(--col2);
    text-shadow: 2px 2px 1px var(--col3);
    border-bottom: 2px solid var(--col2);
    padding-bottom: 5px;

}
.cover{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cover img{
    width: 49%;
    border: 3px solid var(--col3);
    box-shadow: 2px 3px 5px var(--col5);
    transition-duration: 1s;
}
.cover img:hover{
    transform: scale(1.05);
}
.navigation{
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.pro-list{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
.pro img{
    width:100%;
    border:3px solid var(--col3);
}
.pro{
    text-align: center;
    transition-duration: 1s;
}
.pro:hover{
    transform: scale(1.05);
    box-shadow: 2px 3px 5px var(--col5);
}
.pro .pro-name, .pro .pro-rate{
    color:var(--col4);
    font-weight: bold;
}
.pro .pro-price{
    color:var(--col2);
    font-weight: bold;
}
.P-left ul li{
    list-style: none;
    padding: 10px 0;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}
.P-left>ul>li{
    border-bottom: 3px solid var(--col2);
    margin-right: 10px;
}
.P-left>ul>ul>li{
    color:var(--col4);
}
.P-left>ul>ul>li:hover{
    color:var(--col2);
    transform: scale(1.1);
    transition-duration:0.90s;
}

   .P-right img{
    width: 100%;  
}
.P-right h2{
    font-family: "kantumruy Pro";
    font-size: 24pt;
    text-align: center;
    background-color: var(--col1);
    margin: 0;
    padding-top: 10px 0;
    padding-bottom: 10px 0;
    text-shadow: 2px 3px 2px var(--col3);
}
.P-right h2:hover{
    background-image: radial-gradient(circle, var(--col1), var(--col2));
}
.footer2{
    text-align: center;
    background-image: radial-gradient(circle, var(--col1), var(--col2));
    padding: 15px 0;
    font-size: 14pt;
    font-weight: bold;
    margin-top: 50px;
    text-shadow: 2px 3px 2px var(--col4);
    border:3px solid var(--col5);
    box-shadow: 2px 3px 5px var(--col5);
    border-radius: 10px;
    color:var(--col3);
}
.footer{
    margin-top:850px ;
}